<footer>
  <!-- footer info -->
  <section class="jumbotron jumbotron-fluid bg-dark text-white mb-0">
    <div class="container">
      <div class="row justify-content-center">
        <h3 class="display-4">Business Name</h3>
      </div>
      <div class="row justify-content-center mb-3">
        <p class="lead d-flex">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque ullam itaque blanditiis veritatis impedit veniam!</p>
      </div>
      <div class="row">
        <div class="col-md-3 offset-1 px-0">
          <div>
            <h4 class="d-flex justify-content-center justify-content-md-start">Business Hours</h4>
          </div>
          <div>
            <p class="d-flex my-0 justify-content-center justify-content-md-start"><b>Week Days:</b> 9:00am-5:00pm</p>
          </div>
          <div>
            <p class="d-flex justify-content-center justify-content-md-start"><b>Weekends:</b> 10:00am-4:00pm</p>
          </div>
        </div>
        <div class="col-md-3 offset-1">
          <div>
            <h4 class="d-flex justify-content-center justify-content-md-start">Location</h4>
          </div>
          <div>
            <p class="d-flex my-0 justify-content-center justify-content-md-start">123 Main St.</p>
          </div>
          <div>
            <p class="d-flex justify-content-center justify-content-md-start">Los Angeles, CA 90210</p>
          </div>
        </div>
        <div class="col-md-3 offset-1">
          <div>
            <h4 class="d-flex justify-content-center justify-content-md-start">Contact</h4>
          </div>
          <div>
            <p class="d-flex my-0 justify-content-center justify-content-md-start"><b>Phone:</b> (281)330-8004</p>
          </div>
          <div>
            <p class="d-flex justify-content-center justify-content-md-start"><b>Email:</b> testPage@email.com</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Free Resources -->
  <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
  <div>Images retrieved from <a href="https://unsplash.com/" title="Unsplash">Unsplash.com</a></div>

</footer>
