<% layout('layouts/boilerplate')%>
<div class="container">
  <h1 class="h1 w-100 d-flex justify-content-center">About Us</h1>
  <p class="col-6 offset-3 text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur magni inventore tempora in fugit numquam, animi deserunt nemo assumenda. Aliquam!</p>
</div>
<div class="container my-5">
  <div class="row justify-content-center ">
    <div class="col-12 col-md-4">
      <h3 class="h3 text-center">Quality</h3>
      <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, debitis.</p>
    </div>
    <div class="col-12 col-md-4">
      <h3 class="h3 text-center">Consistency</h3>
      <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, beatae!</p>
    </div>
    <div class="col-12 col-md-4">
      <h3 class="h3 text-center">Diligence</h3>
      <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, facere!</p>
    </div>
  </div>
</div>
