<% layout('layouts/boilerplate')%>

<!-- MAIN HERO -->
<section>
  <div class="container-fluid px-0">
    <div class="card text-white text-center border-0">
      <img src="https://images.unsplash.com/photo-1565449505340-2aae316ac78a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1976&q=80" class="card-img" alt="Jellyfish banner">
      <div class="card-img-overlay">
        <div class="container h-100 align-items-center d-flex">
          <div class="row justify-content-center">
            <div class="col-md-10 text-center">
              <h3 class="card-title display-4">Lorem ipsum dolor sit.</h3>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed suscipit iusto, eveniet illo sunt enim quia natus repudiandae molestiae, porro ipsum. Dolores adipisci ducimus dolorum necessitatibus quos nobis
                totam
                impedit.30</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- StoryBoard with responsive images -->
<section class="container pt-3 mt-3">
  <div class="row py-0">
    <div class="col  px-0">
      <div class="container-fluid pt-2">
        <div class="row text-center text-lg-left">
          <small class="w-100 text-center text-lg-left">Storyboard</small>
        </div>
        <div class="row">
          <h3 class="h3 w-100 text-center text-lg-left">Title section</h3>
        </div>
        <div class="row text-center text-lg-left">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, amet rerum minus eaque quisquam ipsum quibusdam voluptatibus at est hic voluptate tempora magni magnam dolor delectus, deserunt, sunt animi dignissimos.</p>
        </div>
        <div class="row text-center text-lg-left">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, tempore excepturi rerum, nemo, eligendi, nisi animi accusantium exercitationem provident laborum reprehenderit ullam. Esse laborum veritatis, odit reiciendis cum
            voluptas
            dicta!</p>
        </div>
      </div>
    </div>
    <div class="col d-none d-lg-flex">
      <img class="img-fluid pt-3" src="https://images.unsplash.com/photo-1514580426463-fd77dc4d0672?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=930&q=80" alt="Think Outside The Box">
    </div>
    <div class="col d-none d-lg-flex">
      <img class="img-fluid pb-3" src="https://images.unsplash.com/photo-1572274407649-6cb883740677?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="Someone Typing">
    </div>
  </div>
</section>

<!-- Sales pitch hero 1 -->
<!-- Todo: fix the sizing issue on the button for mobile -->
<section class="container-fluid px-0 mt-5">
  <div class="card text-white text-center border-0">
    <img src="imgs/businessPeople.jpeg" class="card-img" alt="Business People">
    <div class="card-img-overlay">
      <div class="container h-100 align-items-center d-flex">
        <div class="row justify-content-center">
          <div class="col-md-10 text-center">
            <h3 class="card-title display-4">Sales Pitch Title</h3>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed suscipit iusto, eveniet illo sunt enim quia natus repudiandae molestiae, porro ipsum. Dolores adipisci ducimus dolorum necessitatibus quos nobis
              totam impedit.30</p>
            <button class="btn btn-primary btn-lg">Clickable Button</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Cards with content -->
<section class="container mt-5">
  <div class="row justify-content-center mb-4">
    <h3 class="display-4">Work Examples</h3>
  </div>
  <div class="row">
    <div class="card-deck">
      <div class="card col-md-4 ">
        <img class="card-img-top" src="https://images.unsplash.com/photo-1511499767150-a48a237f0083?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1100&q=80" alt="Shades">
        <div class="card-body">
          <h4 class="card-title">Example 1</h4>
          <p><b>Name of Example</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, praesentium.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card col-md-4 ">
        <img class="card-img-top" src="https://images.unsplash.com/photo-1491553895911-0055eca6402d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="Shoes">
        <div class="card-body">
          <h4 class="card-title">Example 2</h4>
          <p class="card-text"><b>Name of Example</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, praesentium.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card col-md-4 ">
        <img class="card-img-top" src="https://images.unsplash.com/photo-1591892204579-530edbd4724d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="Perfume">
        <div class="card-body">
          <h4 class="card-title">Example 3</h4>
          <p class="card-text"><b>Name of Example</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, praesentium.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Sales pitch hero for contact -->
<section class="container-fluid px-0 mt-5">
  <div class="card text-white text-center border-0">
    <img src="https://images.unsplash.com/photo-1480944657103-7fed22359e1d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1789&q=80" class="card-img" alt="Building">
    <div class="card-img-overlay">
      <div class="container h-100 align-items-center d-flex">
        <div class="row w-100 justify-content-center">
          <div class="col-md-10 text-center">
            <h3 class="card-title display-4">Contact Us!</h3>
            <p class="card-text">Fill out the form below and a team member will be in contact with you ASAP!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- contact form -->
<section class="container my-5">
  <form class="" action="index.html" method="post">
    <div class="form-row justify-content-center">
      <div class="col-md-6">
        <label for="name">Name:</label>
        <input type="text" class="form-control" name="name" placeholder="Enter your name">
      </div>
    </div>
    <div class="form-row justify-content-center">
      <div class="col-md-6">
        <label for="email">Email:</label>
        <input type="email" class="form-control" name="email" placeholder="Enter your email">
      </div>
    </div>
    <div class="form-row justify-content-center">
      <div class="col-md-6">
        <label for="phone">Phone:</label>
        <input type="tel" class="form-control" name="phone" placeholder="Enter your phone">
      </div>
    </div>
    <div class="form-row justify-content-center">
      <div class="col-md-6">
        <label for="date">Date:</label>
        <input type="date" class="form-control" name="date">
      </div>
    </div>
    <div class="form-row justify-content-center mb-2">
      <div class="col-md-6">
        <label for="notes">Additional Info:</label>
        <textarea name="notes" class="form-control" rows="10" cols="50"></textarea>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6"><button type="submit" class="btn btn-primary">Sign in</button></div>
    </div>
  </form>
</section>
