<% layout('layouts/boilerplate')%>
  <div class="container">
    <h1 class="h1 w-100 d-flex justify-content-center">Services</h1>
    <p class="col-6 offset-3 text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur magni inventore tempora in fugit numquam, animi deserunt nemo assumenda. Aliquam!</p>
  </div>
  <div class="container mt-5">
    <div class="row justify-content-center ">
      <div class="col-12 col-md-4 mb-4">
        <img src="https://images.unsplash.com/photo-1511499767150-a48a237f0083?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1100&q=80" class="rounded  img-fluid" alt="Building">
        <h2 class="my-4 text-center">Glasses Repair</h2>
        <p class = "text-center text-md-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit magni ad dignissimos qui. Ipsam, at.</p>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <img src="https://images.unsplash.com/photo-1491553895911-0055eca6402d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="rounded  img-fluid" alt="Building">
        <h2 class="my-4 text-center">Shoe Cleaning</h2>
        <p class = "text-center text-md-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit magni ad dignissimos qui. Ipsam, at.</p>
      </div>
      <div class="col-12 col-md-4 mb-4">
        <img src="https://images.unsplash.com/photo-1591892204579-530edbd4724d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="rounded  img-fluid" alt="Building">
        <h2 class="my-4 text-center">Cologne Selection</h2>
        <p class = "text-center text-md-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit magni ad dignissimos qui. Ipsam, at.</p>
      </div>
    </div>
  </div>
